body {
    background: cadetblue;
}

#app {
    display: block;
    margin: 10% auto;
}

.color-square {
    background: rgba(5, 0, 64, 0.66);
}

.snake-field {
    margin: 0 auto;
    border: 2px solid wheat;
    border-collapse: collapse;
}

.snake-field_tr {
  height: 30px;
}

.snake-field_td {
  width: 30px;
}
.snake-field_td__colored {
    background-color: red;
}

